body {
    background-color: grey;
	color: lightgray;
	font-family: Arial;
	margin: 100px 70px;
}

h1, h2 {
    color: yellow;
}
table {
	border-collapse: collapse
	
}

table, td, th {
	border: 1px solid white;
}

	